<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
  defer
  src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
/>
<html>
  <head>
    <title>Agenda de Contato</title>
  </head>
  <body>
    <section class="hero is-info is-bold is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <p class="title is-1 is-spaced">Agenda de contatos</p>
              <p class="subtitle is-3"> Acesse o link para gerenciar seus contatos </p>

              <a class="button" href="/agenda"
                >Ir para agenda</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
