    <footer class="footer">
        <div class="content has-text-centered">
            <p>
              By <strong>Wellington Thalyson</strong>
            </p>
          </div>
    </footer>
</body>
</html>